body {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.wrapper {
    height: 75vh;
    background-color: #2c475875;
}

.title {
    color: white;
    background-color: #5893b385;
}

#newpassword {
    color: white;
    background-color: #5893b385;
}